.numberCircle {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.numberCircleBlock {
    display: flex;
    gap: 15px;
}