.numberCircle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.numberCircleBlock {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.buttonRandom {
    margin: 5px 0 20px 110px;
    background: transparent;
    border: 2px solid black;
    -webkit-box-shadow: 4px 4px 0 0 rgba(7, 8, 9, 0.85);
    -moz-box-shadow: 4px 4px 0 0 rgba(7, 8, 9, 0.85);
    box-shadow: 4px 4px 0 0 rgba(7, 8, 9, 0.85);
}